{% extends "master.html" %}

{% block title %}
  <title>PRODUCTS LIST</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'all_product_page.html.css' %}">
{% endblock %}

{% block content %}
  <h1>THE PRODUCTS</h1>

  <ul>
    {% for product in products %}
      <li>
        <img src="{{ product.photo }}" alt="{{ product.name }}" width="500" height="600">
        <h2>{{ product.name }}</h2>
        <p>{{ product.describe }}</p>
        <p>{{ product.price }}</p>
        <a href="details/{{ product.id }}">See product</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
